In [25]:
import os ,shutil

In [26]:

source_path = r"C:\Users\jisna\Downloads\drug200.csv"  
destination_dir = "data"


os.makedirs(destination_dir, exist_ok=True)

# Full destination path
destination_path = os.path.join(destination_dir, "data.csv")


shutil.copy(source_path, destination_path)

print(f"File copied to: {destination_path}")

File copied to: data\data.csv

In [29]:
import pandas as pd

drug_df = pd.read_csv("Data/data.csv")
drug_df = drug_df.sample(frac=1)
drug_df.head(10)

     Age Sex      BP Cholesterol  Na_to_K   Drug
59    34   M    HIGH        HIGH   18.703  DrugY
129   32   F  NORMAL        HIGH    7.477  drugX
78    19   F    HIGH        HIGH   13.313  drugA
55    26   F     LOW        HIGH   14.160  drugC
92    29   F    HIGH        HIGH   29.450  DrugY
161   57   F    HIGH      NORMAL    9.945  drugB
115   51   M    HIGH        HIGH   18.295  DrugY
77    26   F    HIGH      NORMAL   19.161  DrugY
150   49   M    HIGH      NORMAL    8.700  drugA
12    43   M     LOW        HIGH   15.376  DrugY

In [33]:
from sklearn.model_selection import train_test_split
X=drug_df.drop("Drug",axis=1).values

In [34]:
y=drug_df.Drug.values

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=125)